@import url("https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans&display=swap");

html {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.App {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  height: 100vh;
  min-height: 900px;
  width: 1400px;
  .sidebar {
    display: grid;
    grid-area: 1 / 1 / 21 / 5;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(20, 1fr);
    font-family: "Ubuntu", sans-serif;
    .status-box {
      grid-area: 1 / 1 / 8 / 5;
      font-size: 0.8rem;
      display: flex;
      box-shadow: -4px -4px 4px 5px black;
      flex-direction: column;
      background: #202020;
      z-index: 5;
      color: white;
      .status-box-image {
        display: flex;
        flex: 50%;
        align-items: center;
        justify-content: center;
      }
      img {
        height: 140px;
      }
      .status-box-address {
        flex: 5%;
        text-align: center;
        font-size: 0.65rem;
      }
      .status-box-text {
        flex: 20%;
        padding: 0 20px;
        .status-box-text-item {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          font-family: "Assistant", sans-serif;
          .property {
            grid-area: 1 / 1 / 2 / 3;
            font-weight: 600;
            text-transform: uppercase;
          }
          .property-desc {
            grid-area: 1 / 3 / 2 / 7;
          }
        }
      }
    }
    .menu-box {
      grid-area: 8/1/25/5;
      display: flex;
      height: 100%;
      padding-top: 10px;
      flex-direction: column;
      background: #292929;
      font-weight: bold;
      font-family: "Open Sans", arial, sans-serif;
      box-shadow: -4px 6px 4px 5px black;
      .menu-box-panel {
        display: grid;
        grid-template-columns: repeat(40, 1fr);
        grid-template-rows: repeat(40, 1fr);
        background: #191919;
        position: absolute;
        box-sizing: border-box;
        -webkit-transition: all 0.4s ease-in-out;
        box-shadow: 2px 5px 7px -3px #202020;
        transition: all 0.4s ease-in-out;
        width: 1000px;
        height: 600px;
        z-index: 2;
        -webkit-transform: translate(280px, -400px);
        transform: translate(300px, -100px);
        .menu-box-panel-head {
          grid-area: 2/2/11/40;
          display: grid;
          grid-template-columns: repeat(20, 1fr);
          grid-template-rows: repeat(10, 1fr);
          /* height: 100px; */
          .transaction-title {
            grid-area: 1 / 1 / 5 / 6;
            font-size: 4rem;
            text-transform: uppercase;
            color: white;
          }

          .make-transaction-button {
            grid-area: 6 / 1 / 11 / 8;
            background: white;
            height: 50px;
            width: 200px;
            margin: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            text-transform: uppercase;
            color: white;
            font-family: sans-serif;
            border: none;
            position: relative;
          }
          .make-transaction-button::before {
            transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            content: "";
            width: 10%;
            height: 100%;
            background: black;
            position: absolute;
            top: 0;
            left: 0;
          }
          .make-transaction-button .make-transaction-button-text {
            color: white;
            mix-blend-mode: difference;
          }
          .make-transaction-button:hover::before {
            background: black;
            width: 100%;
          }

          .transaction-details {
            grid-area: 2/13/7/19;
            color: white;
            .transaction-details-item {
              display: grid;
              grid-template-columns: repeat(10, 1fr);
            }
            .property {
              grid-area: 1/1/2/10;
              text-transform: uppercase;
              font-weight: bold;
            }
            .property-info {
              grid-area: 1/6/1/11;
            }
          }
        }
        .transaction-empty-map {
          display: flex;
          align-items: center;
          justify-content: center;
          grid-area: 11/2/39/40;
          background: white;
          /* height: 85%; */
          width: 100%;
          overflow-y: scroll;
        }
        .transaction-map {
          grid-area: 11/2/39/40;
          background: white;
          /* height: 85%; */
          width: 100%;
          overflow-y: scroll;
          .transaction-map-block {
            background: #292929;
            display: grid;
            color: white;
            box-shadow: 5px 2px 3px 1px grey;
            height: 100px;
            grid-template-columns: repeat(40, 1fr);
            grid-template-rows: repeat(10, 1fr);
            .transaction-map-hash {
              grid-area: 1/2/11/24;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 0.7rem;
            }
            .transaction-map-hash img {
              grid-area: 1/1/1/1;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 0.7rem;
              height: 50px;
            }
            .transaction-map-blocknumber {
              grid-area: 2/25/10/31;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 2rem;
            }
            .transaction-map-gas {
              grid-area: 1/33/11/40;
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 1.5rem;
            }
          }

          .transaction-map-block div {
            margin-right: 15px;
          }
          .transaction-map-block img {
            height: 50px;
          }
        }
        .transaction-close-button {
          height: 50px;
          width: 50px;
          filter: invert(1);
          grid-area: 1 / 20 / 5 / 21;
          cursor: pointer;
        }
        .transaction-close-button img {
          height: 100%;
        }
      }

      .menu-box-item {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;
        display: inline-block;
        padding: 15px 20px;
        position: relative;
        transform-origin: center;
      }
      .menu-box-item:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      .menu-box-item:hover:after {
        width: 100%;
        height: 100%;
        left: 0;
      }
      .menu-box-item:hover {
        color: goldenrod;
        cursor: pointer;
      }
    }
  }
  .navbar {
    grid-area: 2 / 6 / 4 / 19;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-family: "Ubuntu", sans-serif;
    .navbar-welcome {
      grid-area: 1 / 1 / 3 / 2;
    }
    .navbar-title {
      font-size: 4rem;
      font-weight: 800;
      text-transform: uppercase;
    }
    .navbar-subtitle {
      font-size: 1.5rem;
      margin-left: 5px;
    }
    .navbar-logout {
      font-size: 2rem;
      grid-area: 1 / 7 / 3 / 9;
      text-transform: uppercase;
    }
  }
  .panel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-area: 6 / 6 / 20 / 19;
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    .card img {
      height: 115px;
    }
    .cards {
      display: flex;
    }
    .hubs {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 50%;
      width: 59%;
    }
    .hub {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      margin: 0 10px 10px 0;
      height: 70px;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      background-color: #f0f0f0;
    }
    .hub-image img {
      height: 50px;
    }
    .hub-connection {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: yellowgreen;
      animation: statusPulse 5s infinite ease-in-out;
    }
    .hub-info {
      .hub-info-item {
        display: grid;
        font-size: 0.6rem;
        grid-template-columns: repeat(20, 1fr);
        .property {
          text-transform: uppercase;
          font-weight: 800;
          grid-area: 1 / 2 / 2 / 9;
        }
        .property-info {
          grid-area: 1 / 10 / 2 / 21;
        }
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      min-width: 200px;
      height: 250px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      background-color: #f0f0f0;

      .min-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
      }

      .card-image {
        flex: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 5px;
      }

      .card-info {
        flex: 20% 1;
        font-family: "Ubuntu", sans-serif;
        font-size: 0.8rem;
        .card-info-item {
          display: grid;
          grid-template-columns: repeat(20, 1fr);
          .property {
            grid-area: 1 / 2 / 2 / 9;
            font-weight: 600;
            text-transform: uppercase;
          }
          .property-desc {
            grid-area: 1 / 10 / 2 / 21;
          }
        }
      }
    }

    .card-full {
      position: absolute;
      font-family: "Open Sans", sans-serif;
      transform-origin: center;
      background: floralwhite;
      width: 1040px;
      transition: all 0.2s cubic-bezier(0.04, 0.9, 0.12, 0.95);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
      .full-content {
        display: grid;
        background: whitesmoke;
        grid-template-columns: repeat(40, 1fr);
        grid-template-rows: repeat(30, 1fr);
        max-height: 550px;
        .close-button {
          grid-area: 2 / 40 / 6 / 38;
          width: 50px;
          height: 50px;
        }
        .pie-chart {
          grid-area: 1 / 12 / 13 / 29;
        }
        .xy-chart {
          grid-area: 7 / 5 / 13 / 37;
        }
        .full-stats {
          .fs-title {
            font-size: 1.5rem;
            font-weight: 800;
            text-transform: uppercase;
          }
          .delivery {
            color: #555;
          }
          .supply {
            color: #222;
          }
          .fs-price {
            display: flex;
            font-weight: 800;
            font-size: 2rem;
            .currency {
              transform: translateY(-4px);
              font-size: 2rem;
            }
          }
          .fs-details {
            margin: 10px 0;
            font-size: 0.8rem;
          }
          .fs-red {
            color: firebrick;
          }
          .fs-subdetails {
            font-weight: 800;
          }
        }
        .left {
          grid-area: 3 / 31 / 12 / 37;
        }
        .right {
          grid-area: 3 / 4 / 12 / 11;
        }
        .bottom-right {
          grid-area: 21 / 4 / 27 / 16;
        }
        .total-charge {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-weight: 800;
          color: black;
          grid-area: 13/20/25/30;
          width: 26px;
          height: 0px;
        }
        .total-charge-price {
          font-size: 2rem;
        }
        .storage {
          width: 200px;
          .storage-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .battery-info {
              font-size: 2rem;
              font-weight: 800;
              color: mediumseagreen;
            }
          }
          .bold {
            font-weight: 800;
            font-size: 1.4rem;
          }
          .storage-info img {
            width: 100px;
            transform: rotate(90deg);
            margin: -23px 0;
          }
        }
        .title-add {
          grid-area: 6/10/9/31;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 3rem;
          text-transform: uppercase;
          background: #191919;
          color: white;
        }

        .panels-add {
          display: flex;
          grid-area: 11/7/27/35;
          align-items: center;
          justify-content: space-around;
          .panel-add {
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            background: whitesmoke;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          }
          .panel-add:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          }
          .panel-add img {
            height: 150px;
          }
        }
      }
    }

    .card-full:before,
    .card-full:after {
      content: "";
      position: absolute;
      z-index: -1;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      bottom: 0;
      left: 10px;
      right: 10px;
      -moz-border-radius: 100px / 10px;
      border-radius: 100px / 10px;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

// Loader

.loader {
  position: relative;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 2px;
  width: 100px;
  height: 100px;
}
.loader > div {
  position: relative;
  width: 100%;
  height: 100%;
  background: tomato;
  transform: scale(0);
  transform-origin: center center;
  animation: loader 2s infinite linear;
}
.loader > div:nth-of-type(1),
.loader > div:nth-of-type(5),
.loader > div:nth-of-type(9) {
  animation-delay: 0.4s;
}
.loader > div:nth-of-type(4),
.loader > div:nth-of-type(8) {
  animation-delay: 0.2s;
}
.loader > div:nth-of-type(2),
.loader > div:nth-of-type(6) {
  animation-delay: 0.6s;
}
.loader > div:nth-of-type(3) {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes statusPulse {
  50% {
    background: limegreen;
  }
}
